Name: Carlos Constante

In [31]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import confusion_matrix
from sklearn.metrics import silhouette_score

from sklearn.preprocessing import MinMaxScaler

from sklearn.cluster import KMeans

from sklearn.datasets import make_blobs

%matplotlib inline
pd.set_option('display.max_columns', None)

In [32]:
#Loading dataframe
sal = pd.read_csv('NYC_Payroll_Data_Fiscal_Year.csv')
sal

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,17,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,17,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
4,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469652,2019,56,POLICE DEPARTMENT,LUNGAYAN JR.,HERMAN,V,05/28/2014,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,39449.0,per Annum,2040.0,39032.61,306.50,9242.39,4182.91
1469653,2019,56,POLICE DEPARTMENT,HORNE,JONISHAU,NaN,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,39453.0,per Annum,1785.0,38539.44,245.55,7163.58,3680.55
1469654,2019,56,POLICE DEPARTMENT,HIRA,ABDUL,M,09/25/2017,BRONX,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.0,38763.31,269.00,7979.68,1031.37
1469655,2019,56,POLICE DEPARTMENT,KARAI,WAHID,F,02/23/2016,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,51700.0,per Annum,1785.0,49625.00,255.32,9214.59,8692.69
1469656,2019,56,POLICE DEPARTMENT,SHEHZAD,MOHAMMAD,A,12/22/2015,QUEENS,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.0,39276.28,637.50,19430.30,2090.16

In [33]:
#Check the dataframe columns' names
sal.columns

Index(['Fiscal Year', 'Payroll Number', 'Agency Name', 'Last Name',
       'First Name', 'Mid Init', 'Agency Start Date', 'Work Location Borough',
       'Title Description', 'Leave Status as of June 30', 'Base Salary',
       'Pay Basis', 'Regular Hours', 'Regular Gross Paid', 'OT Hours',
       'Total OT Paid', 'Total Other Pay'],
      dtype='object')

In [34]:
#check the dataframe information
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1469657 entries, 0 to 1469656
Data columns (total 17 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Fiscal Year                 1469657 non-null  int64
 1   Payroll Number              1469657 non-null  int64
 2   Agency Name                 1469657 non-null  object
 3   Last Name                   1468753 non-null  object
 4   First Name                  1468742 non-null  object
 5   Mid Init                    866071 non-null   object
 6   Agency Start Date           1469616 non-null  object
 7   Work Location Borough       1469651 non-null  object
 8   Title Description           1469623 non-null  object
 9   Leave Status as of June 30  1469657 non-null  object
 10  Base Salary                 1469657 non-null  float64
 11  Pay Basis                   1469657 non-null  object
 12  Regular Hours               1469657 non-null  float64
 13  Regular Gross Paid          1469657 non-null  float64
 14  OT Hours                    1469657 non-null  float64
 15  Total OT Paid               1469657 non-null  float64
 16  Total Other Pay             1469657 non-null  float64
dtypes: float64(6), int64(2), object(9)
memory usage: 190.6+ MB

In [35]:
#check for missing data in each numeric types column
sal.describe()

,Fiscal Year,Payroll Number,Base Salary,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06
mean,2.018996e+03,5.563574e+02,4.681239e+04,7.432658e+02,4.964219e+04,7.081650e+01,3.772085e+03,3.205983e+03
std,8.130180e-01,3.090461e+02,4.388318e+04,9.178171e+02,4.141916e+04,1.656371e+02,9.570726e+03,5.980867e+03
min,2.018000e+03,2.000000e+00,1.000000e+00,-2.352500e+02,-2.343844e+04,-2.100000e+01,-2.649388e+04,-1.548196e+05
25%,2.018000e+03,3.000000e+02,3.318000e+01,0.000000e+00,7.388030e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.019000e+03,7.420000e+02,4.497500e+04,0.000000e+00,4.529081e+04,0.000000e+00,0.000000e+00,1.650000e+01
75%,2.020000e+03,7.470000e+02,8.529200e+04,1.820000e+03,8.418630e+04,1.475000e+01,6.280900e+02,4.129790e+03
max,2.020000e+03,9.960000e+02,4.147070e+05,4.160000e+03,3.685975e+05,3.147000e+03,2.373897e+05,2.222470e+05

In [36]:
#Decribe the string types columns in the dataframe
sal.describe(include = ["O"])

,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Pay Basis
count,1469657,1468753,1468742,866071,1469616,1469651,1469623,1469657,1469657
unique,155,119034,65155,35,12994,18,1570,1,4
top,DEPT OF ED PEDAGOGICAL,RODRIGUEZ,MICHAEL,A,01/01/2010,MANHATTAN,TEACHER- PER SESSION,ACTIVE,per Annum
freq,285125,9397,22282,130531,29345,1050354,233441,1469657,898331

In [37]:
#create a dataframe with only rows missing at least one value
sal.isna().any(axis = 1)

0           True
1          False
2           True
3          False
4          False
           ...
1469652    False
1469653     True
1469654    False
1469655    False
1469656    False
Length: 1469657, dtype: bool

In [38]:
#Create a filter with all rows that contain at least one missing data
nan_filter = sal.isna().any(axis = 1)
sal[nan_filter]

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
6,2020,17,OFFICE OF EMERGENCY MANAGEMENT,VAZQUEZ,MARGARET,NaN,09/29/2008,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,94415.0,per Annum,1820.00,84312.72,0.00,0.00,0.00
9,2020,17,OFFICE OF EMERGENCY MANAGEMENT,DE LOS SANTOS,JANIRA,NaN,06/05/2017,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,67676.0,per Annum,1820.00,66647.77,348.50,16572.64,144.15
13,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILLIAMS,LATOYA,NaN,02/16/2005,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,73403.0,per Annum,1820.00,72287.70,217.75,9636.04,258.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469646,2019,56,POLICE DEPARTMENT,MIKHNO,INNA,NaN,07/02/2018,BROOKLYN,POLICE OFFICER,ACTIVE,42500.0,per Annum,2000.00,41568.57,46.23,1461.04,3659.52
1469648,2019,56,POLICE DEPARTMENT,ISLAM,A B M KAMRUL,NaN,05/31/2017,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,39447.39,717.75,20914.83,1336.10
1469649,2019,56,POLICE DEPARTMENT,CASTRO VASQUEZ,ADISON,NaN,07/22/2016,BRONX,SCHOOL CROSSING GUARD,ACTIVE,15.0,per Hour,952.65,15909.71,0.00,0.00,213.00
1469650,2019,56,POLICE DEPARTMENT,JALLIM,ALISEN,NaN,01/16/2018,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,38673.46,172.25,5281.94,3740.94
1469653,2019,56,POLICE DEPARTMENT,HORNE,JONISHAU,NaN,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,39453.0,per Annum,1785.00,38539.44,245.55,7163.58,3680.55

In [39]:
#create a dataframe with only rows missing at least one value in Mid Init column
missing_rows = sal['Mid Init'].isna()
missing_rows

0           True
1          False
2           True
3          False
4          False
           ...
1469652    False
1469653     True
1469654    False
1469655    False
1469656    False
Name: Mid Init, Length: 1469657, dtype: bool

In [40]:
#Checking the dataframe with missing values in the Mid Init column
sal[missing_rows]

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
6,2020,17,OFFICE OF EMERGENCY MANAGEMENT,VAZQUEZ,MARGARET,NaN,09/29/2008,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,94415.0,per Annum,1820.00,84312.72,0.00,0.00,0.00
9,2020,17,OFFICE OF EMERGENCY MANAGEMENT,DE LOS SANTOS,JANIRA,NaN,06/05/2017,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,67676.0,per Annum,1820.00,66647.77,348.50,16572.64,144.15
13,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILLIAMS,LATOYA,NaN,02/16/2005,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,73403.0,per Annum,1820.00,72287.70,217.75,9636.04,258.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469646,2019,56,POLICE DEPARTMENT,MIKHNO,INNA,NaN,07/02/2018,BROOKLYN,POLICE OFFICER,ACTIVE,42500.0,per Annum,2000.00,41568.57,46.23,1461.04,3659.52
1469648,2019,56,POLICE DEPARTMENT,ISLAM,A B M KAMRUL,NaN,05/31/2017,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,39447.39,717.75,20914.83,1336.10
1469649,2019,56,POLICE DEPARTMENT,CASTRO VASQUEZ,ADISON,NaN,07/22/2016,BRONX,SCHOOL CROSSING GUARD,ACTIVE,15.0,per Hour,952.65,15909.71,0.00,0.00,213.00
1469650,2019,56,POLICE DEPARTMENT,JALLIM,ALISEN,NaN,01/16/2018,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,38673.46,172.25,5281.94,3740.94
1469653,2019,56,POLICE DEPARTMENT,HORNE,JONISHAU,NaN,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,39453.0,per Annum,1785.00,38539.44,245.55,7163.58,3680.55

This exploratory analysis shows that in the column 'Mid Init' there are 603,586 rows with missing data out of the total rows with missing data 603,610. Therefore with can delete this column. Moreover, columns 'Leave Status as of June 30' & 'Payroll Number' are no needed for this analysis, therefore they will be deleted as well.

In [41]:
#Delete the column "Mid Init","Leave Status as of June 30" & 'Payroll Number'
del sal['Mid Init']
del sal['Leave Status as of June 30'] 
del sal['Payroll Number'] 
sal

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
4,2020,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469652,2019,POLICE DEPARTMENT,LUNGAYAN JR.,HERMAN,05/28/2014,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,39449.0,per Annum,2040.0,39032.61,306.50,9242.39,4182.91
1469653,2019,POLICE DEPARTMENT,HORNE,JONISHAU,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,39453.0,per Annum,1785.0,38539.44,245.55,7163.58,3680.55
1469654,2019,POLICE DEPARTMENT,HIRA,ABDUL,09/25/2017,BRONX,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,38763.31,269.00,7979.68,1031.37
1469655,2019,POLICE DEPARTMENT,KARAI,WAHID,02/23/2016,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,51700.0,per Annum,1785.0,49625.00,255.32,9214.59,8692.69
1469656,2019,POLICE DEPARTMENT,SHEHZAD,MOHAMMAD,12/22/2015,QUEENS,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,39276.28,637.50,19430.30,2090.16

In [43]:
#get info about the 14 columns left
sal.describe(include = 'all')

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,1.469657e+06,1469657,1468753,1468742,1469616,1469651,1469623,1.469657e+06,1469657,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06
unique,NaN,155,119034,65155,12994,18,1570,NaN,4,NaN,NaN,NaN,NaN,NaN
top,NaN,DEPT OF ED PEDAGOGICAL,RODRIGUEZ,MICHAEL,01/01/2010,MANHATTAN,TEACHER- PER SESSION,NaN,per Annum,NaN,NaN,NaN,NaN,NaN
freq,NaN,285125,9397,22282,29345,1050354,233441,NaN,898331,NaN,NaN,NaN,NaN,NaN
mean,2.018996e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.681239e+04,NaN,7.432658e+02,4.964219e+04,7.081650e+01,3.772085e+03,3.205983e+03
std,8.130180e-01,NaN,NaN,NaN,NaN,NaN,NaN,4.388318e+04,NaN,9.178171e+02,4.141916e+04,1.656371e+02,9.570726e+03,5.980867e+03
min,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,-2.352500e+02,-2.343844e+04,-2.100000e+01,-2.649388e+04,-1.548196e+05
25%,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,3.318000e+01,NaN,0.000000e+00,7.388030e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.019000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.497500e+04,NaN,0.000000e+00,4.529081e+04,0.000000e+00,0.000000e+00,1.650000e+01
75%,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,8.529200e+04,NaN,1.820000e+03,8.418630e+04,1.475000e+01,6.280900e+02,4.129790e+03
max,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.147070e+05,NaN,4.160000e+03,3.685975e+05,3.147000e+03,2.373897e+05,2.222470e+05

In [44]:
#Creating a new filter for missing values for the 14 columns left
nan_filter = sal.isna().any(axis = 1)
sal[nan_filter]

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
114216,2020,BOARD OF ELECTION POLL WORKERS,FEUCHT,NaN,01/01/2019,MANHATTAN,ELECTION WORKER,1.0,per Hour,0.0,3995.00,0.0,0.00,0.00
128167,2020,BOARD OF ELECTION POLL WORKERS,NaN,YOUN,01/01/2018,MANHATTAN,ELECTION WORKER,1.0,per Hour,0.0,525.00,0.0,0.00,0.00
140336,2020,DEPT OF ED PEDAGOGICAL,COLEMAN,KAWANA,07/01/1982,NaN,TEACHER SPECIAL EDUCATION,124909.0,per Annum,0.0,122242.80,0.0,0.00,26460.23
235224,2020,BOARD OF ELECTION POLL WORKERS,NaN,DANIEL,01/01/2019,MANHATTAN,ELECTION WORKER,1.0,per Hour,0.0,350.00,0.0,0.00,0.00
235225,2020,BOARD OF ELECTION POLL WORKERS,NaN,MIJEAN,01/01/2019,MANHATTAN,ELECTION WORKER,1.0,per Hour,0.0,350.00,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404519,2019,DISTRICT ATTORNEY-SPECIAL NARC,NaN,NaN,06/11/2018,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,63049.0,per Annum,2040.0,64442.53,0.0,0.00,3626.43
1404520,2019,DISTRICT ATTORNEY-SPECIAL NARC,NaN,NaN,06/11/2018,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,63012.0,per Annum,2040.0,64407.84,0.0,0.00,3626.43
1404540,2019,DISTRICT ATTORNEY-SPECIAL NARC,NaN,NaN,09/04/2018,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,65000.0,per Annum,1672.0,53106.98,0.0,0.00,16.50
1404564,2019,DISTRICT ATTORNEY-SPECIAL NARC,NaN,NaN,04/01/2019,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,65000.0,per Annum,480.0,14958.90,0.0,0.00,251.38
1404566,2019,DISTRICT ATTORNEY-SPECIAL NARC,NaN,NaN,04/01/2019,MANHATTAN,RACKETS INVESTIGATOR - START >4-24-08 NO ABC,60000.0,per Annum,480.0,13808.22,7.0,301.73,0.00

There were 938 rows with missing data such as 'First name', 'Lastname', 'Agency Start Date', 'Work Location Borough', and 'Title Description'. Those rows will be dropped. This could be possibly human errors while entering the data.

In [53]:
sal[nan_filter].describe(include = 'all')

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,938.000000,938,34,23,897,932,904,938.000000,938,938.000000,938.000000,938.000000,938.000000,938.000000
unique,NaN,15,13,10,288,5,22,NaN,2,NaN,NaN,NaN,NaN,NaN
top,NaN,DISTRICT ATTORNEY-MANHATTAN,XU,YUNJIN,01/09/2017,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,NaN,per Annum,NaN,NaN,NaN,NaN,NaN
freq,NaN,251,6,3,10,331,407,NaN,920,NaN,NaN,NaN,NaN,NaN
mean,2018.989339,NaN,NaN,NaN,NaN,NaN,NaN,74848.996962,NaN,1910.463731,73130.904051,164.050640,8657.375299,5624.295085
std,0.813371,NaN,NaN,NaN,NaN,NaN,NaN,22249.579315,NaN,426.280148,24170.137307,214.686179,11454.590988,5690.216186
min,2018.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,250.000000,0.000000,0.000000,0.000000
25%,2018.000000,NaN,NaN,NaN,NaN,NaN,NaN,62751.500000,NaN,2040.000000,63400.160000,3.000000,181.660000,855.640000
50%,2019.000000,NaN,NaN,NaN,NaN,NaN,NaN,70000.000000,NaN,2045.720000,70527.215000,74.250000,3639.155000,3915.440000
75%,2020.000000,NaN,NaN,NaN,NaN,NaN,NaN,84818.000000,NaN,2080.000000,83949.750000,262.125000,13537.505000,9049.675000
max,2020.000000,NaN,NaN,NaN,NaN,NaN,NaN,188568.000000,NaN,2085.720000,186592.220000,1711.000000,80693.170000,49263.740000

In [56]:
#Removing rows with missing values and creating a new dataframe
sal2 = sal.dropna()
sal2

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
4,2020,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469652,2019,POLICE DEPARTMENT,LUNGAYAN JR.,HERMAN,05/28/2014,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,39449.0,per Annum,2040.0,39032.61,306.50,9242.39,4182.91
1469653,2019,POLICE DEPARTMENT,HORNE,JONISHAU,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,39453.0,per Annum,1785.0,38539.44,245.55,7163.58,3680.55
1469654,2019,POLICE DEPARTMENT,HIRA,ABDUL,09/25/2017,BRONX,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,38763.31,269.00,7979.68,1031.37
1469655,2019,POLICE DEPARTMENT,KARAI,WAHID,02/23/2016,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,51700.0,per Annum,1785.0,49625.00,255.32,9214.59,8692.69
1469656,2019,POLICE DEPARTMENT,SHEHZAD,MOHAMMAD,12/22/2015,QUEENS,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,39276.28,637.50,19430.30,2090.16

In [49]:
#Describing all columns in new dataframe
sal2.describe(include = 'all')

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,1.468719e+06,1468719,1468719,1468719,1468719,1468719,1468719,1.468719e+06,1468719,1.468719e+06,1.468719e+06,1.468719e+06,1.468719e+06,1.468719e+06
unique,NaN,155,119033,65153,12993,18,1563,NaN,4,NaN,NaN,NaN,NaN,NaN
top,NaN,DEPT OF ED PEDAGOGICAL,RODRIGUEZ,MICHAEL,01/01/2010,MANHATTAN,TEACHER- PER SESSION,NaN,per Annum,NaN,NaN,NaN,NaN,NaN
freq,NaN,285121,9397,22282,29345,1050023,233441,NaN,897411,NaN,NaN,NaN,NaN,NaN
mean,2.018996e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.679449e+04,NaN,7.425204e+02,4.962718e+04,7.075696e+01,3.768965e+03,3.204439e+03
std,8.130180e-01,NaN,NaN,NaN,NaN,NaN,NaN,4.388787e+04,NaN,9.175727e+02,4.142363e+04,1.655844e+02,9.568612e+03,5.980738e+03
min,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,-2.352500e+02,-2.343844e+04,-2.100000e+01,-2.649388e+04,-1.548196e+05
25%,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,3.318000e+01,NaN,0.000000e+00,7.368430e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.019000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.497500e+04,NaN,0.000000e+00,4.526054e+04,0.000000e+00,0.000000e+00,1.650000e+01
75%,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,8.529200e+04,NaN,1.820000e+03,8.418765e+04,1.450000e+01,6.197500e+02,4.123980e+03
max,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.147070e+05,NaN,4.160000e+03,3.685975e+05,3.147000e+03,2.373897e+05,2.222470e+05

In [52]:
#check the job titles in this dataframe
sal2['Work Location Borough'].value_counts()

MANHATTAN        1050023
QUEENS            164518
BROOKLYN          135857
BRONX              74745
RICHMOND           20552
OTHER              19471
WESTCHESTER         1550
ULSTER               936
SULLIVAN             362
DELAWARE             243
PUTNAM               114
NASSAU               101
SCHOHARIE             84
DUTCHESS              68
ALBANY                43
GREENE                30
WASHINGTON DC         19
ORANGE                 3
Name: Work Location Borough, dtype: int64

In [60]:
# Filtering the dataframe 'Work Location' with Manhattan, Queens, Brooklyn and Bronx
sal3 = sal2[sal2['Work Location Borough'].isin(['MANHATTAN','QUEENS','BROOKLYN','BRONX'])]
sal3

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
4,2020,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469652,2019,POLICE DEPARTMENT,LUNGAYAN JR.,HERMAN,05/28/2014,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,39449.0,per Annum,2040.0,39032.61,306.50,9242.39,4182.91
1469653,2019,POLICE DEPARTMENT,HORNE,JONISHAU,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,39453.0,per Annum,1785.0,38539.44,245.55,7163.58,3680.55
1469654,2019,POLICE DEPARTMENT,HIRA,ABDUL,09/25/2017,BRONX,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,38763.31,269.00,7979.68,1031.37
1469655,2019,POLICE DEPARTMENT,KARAI,WAHID,02/23/2016,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,51700.0,per Annum,1785.0,49625.00,255.32,9214.59,8692.69
1469656,2019,POLICE DEPARTMENT,SHEHZAD,MOHAMMAD,12/22/2015,QUEENS,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,39276.28,637.50,19430.30,2090.16

In [61]:
sal3.describe(include = 'all')

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,1.425143e+06,1425143,1425143,1425143,1425143,1425143,1425143,1.425143e+06,1425143,1.425143e+06,1.425143e+06,1.425143e+06,1.425143e+06,1.425143e+06
unique,NaN,149,117235,64700,12921,4,1537,NaN,4,NaN,NaN,NaN,NaN,NaN
top,NaN,DEPT OF ED PEDAGOGICAL,RODRIGUEZ,MICHAEL,01/01/2010,MANHATTAN,TEACHER- PER SESSION,NaN,per Annum,NaN,NaN,NaN,NaN,NaN
freq,NaN,265655,9236,21079,29345,1050023,233441,NaN,857981,NaN,NaN,NaN,NaN,NaN
mean,2.018998e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.554316e+04,NaN,7.347325e+02,4.833214e+04,6.953900e+01,3.691300e+03,3.123824e+03
std,8.129267e-01,NaN,NaN,NaN,NaN,NaN,NaN,4.332212e+04,NaN,9.151047e+02,4.077300e+04,1.644188e+02,9.469556e+03,5.896730e+03
min,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,-2.352500e+02,-2.343844e+04,-2.100000e+01,-2.649388e+04,-1.548196e+05
25%,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,3.318000e+01,NaN,0.000000e+00,6.671615e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.019000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.405200e+04,NaN,0.000000e+00,4.421395e+04,0.000000e+00,0.000000e+00,1.257000e+01
75%,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,8.401250e+04,NaN,1.820000e+03,8.283452e+04,1.125000e+01,5.083850e+02,3.983990e+03
max,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.147070e+05,NaN,4.160000e+03,3.685975e+05,3.147000e+03,2.150228e+05,2.222470e+05

In [62]:
#check the value counts in column 'Pay Basis'
sal3['Pay Basis'].value_counts()

per Annum          857981
per Day            328280
per Hour           233439
Prorated Annual      5443
Name: Pay Basis, dtype: int64

In [64]:
#Obtaining dataframe columns' name 
sal3.columns

Index(['Fiscal Year', 'Agency Name', 'Last Name', 'First Name',
       'Agency Start Date', 'Work Location Borough', 'Title Description',
       'Base Salary', 'Pay Basis', 'Regular Hours', 'Regular Gross Paid',
       'OT Hours', 'Total OT Paid', 'Total Other Pay'],
      dtype='object')

In [68]:
#Creating a new dataframe containing only rows with equal or greater than 0
sal_nyc = sal3[(sal3['Regular Hours'] >= 0) & \
              (sal3['Regular Gross Paid'] >= 0) & \
              (sal3['OT Hours'] >= 0) & \
              (sal3['Total OT Paid'] >= 0) & \
              (sal3['Total Other Pay'] >= 0) ]
sal_nyc

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
4,2020,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469652,2019,POLICE DEPARTMENT,LUNGAYAN JR.,HERMAN,05/28/2014,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,39449.0,per Annum,2040.0,39032.61,306.50,9242.39,4182.91
1469653,2019,POLICE DEPARTMENT,HORNE,JONISHAU,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,39453.0,per Annum,1785.0,38539.44,245.55,7163.58,3680.55
1469654,2019,POLICE DEPARTMENT,HIRA,ABDUL,09/25/2017,BRONX,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,38763.31,269.00,7979.68,1031.37
1469655,2019,POLICE DEPARTMENT,KARAI,WAHID,02/23/2016,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,51700.0,per Annum,1785.0,49625.00,255.32,9214.59,8692.69
1469656,2019,POLICE DEPARTMENT,SHEHZAD,MOHAMMAD,12/22/2015,QUEENS,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,38986.0,per Annum,2040.0,39276.28,637.50,19430.30,2090.16

In [69]:
#Describing all columns in the new dataframe nyc
sal_nyc.describe(include = 'all')

,Fiscal Year,Agency Name,Last Name,First Name,Agency Start Date,Work Location Borough,Title Description,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,1.415277e+06,1415277,1415277,1415277,1415277,1415277,1415277,1.415277e+06,1415277,1.415277e+06,1.415277e+06,1.415277e+06,1.415277e+06,1.415277e+06
unique,NaN,149,117144,64649,12919,4,1536,NaN,4,NaN,NaN,NaN,NaN,NaN
top,NaN,DEPT OF ED PEDAGOGICAL,RODRIGUEZ,MICHAEL,01/01/2010,MANHATTAN,TEACHER- PER SESSION,NaN,per Annum,NaN,NaN,NaN,NaN,NaN
freq,NaN,262378,9160,20883,29330,1043422,233365,NaN,848880,NaN,NaN,NaN,NaN,NaN
mean,2.018995e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.540299e+04,NaN,7.337083e+02,4.821749e+04,6.957002e+01,3.690437e+03,3.183051e+03
std,8.126307e-01,NaN,NaN,NaN,NaN,NaN,NaN,4.335722e+04,NaN,9.146393e+02,4.080839e+04,1.645965e+02,9.474676e+03,5.785830e+03
min,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.018000e+03,NaN,NaN,NaN,NaN,NaN,NaN,3.318000e+01,NaN,0.000000e+00,6.523820e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.019000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.394100e+04,NaN,0.000000e+00,4.412998e+04,0.000000e+00,0.000000e+00,1.562000e+01
75%,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,8.392400e+04,NaN,1.820000e+03,8.273082e+04,1.100000e+01,4.984300e+02,4.006020e+03
max,2.020000e+03,NaN,NaN,NaN,NaN,NaN,NaN,4.147070e+05,NaN,4.160000e+03,3.625225e+05,3.147000e+03,2.150228e+05,2.222470e+05

In [72]:
len(sal3) - len(sal_nyc)

9866

In [71]:
len(sal_nyc)

1415277

We removed 9,866 rows. Compared to the total number of 1,415,277 this is a small number. Moreover, it improves the quality of the data by excluding negative values while not changing the distributions of the other columns very much due to the small amount of points were removed.

In [76]:
sal_nyc['Agency Name'].value_counts().head(25)

DEPT OF ED PEDAGOGICAL            262378
DEPT OF ED PER SESSION TEACHER    240341
POLICE DEPARTMENT                 155773
BOARD OF ELECTION POLL WORKERS    100757
DEPT OF ED PARA PROFESSIONALS      98918
DEPT OF ED HRLY SUPPORT STAFF      55633
FIRE DEPARTMENT                    47782
DEPARTMENT OF EDUCATION ADMIN      41257
HRA/DEPT OF SOCIAL SERVICES        37273
DEPT OF ED PER DIEM TEACHERS       35172
DEPARTMENT OF CORRECTION           34468
NYC HOUSING AUTHORITY              31763
DEPARTMENT OF SANITATION           27693
DEPT OF PARKS & RECREATION         26123
DEPT OF HEALTH/MENTAL HYGIENE      20721
ADMIN FOR CHILDREN'S SVCS          19987
DEPARTMENT OF TRANSPORTATION       14504
DEPT OF ENVIRONMENT PROTECTION     14183
COMMUNITY COLLEGE (LAGUARDIA)      10740
COMMUNITY COLLEGE (MANHATTAN)      10660
COMMUNITY COLLEGE (KINGSBORO)       7833
DEPT OF CITYWIDE ADMIN SVCS         7134
HOUSING PRESERVATION & DVLPMNT      7007
COMMUNITY COLLEGE (QUEENSBORO)      6961
DEPT. OF HOMELESS SERVICES          6705
Name: Agency Name, dtype: int64

In [77]:
sal_nyc['Title Description'].value_counts().head(25)

TEACHER- PER SESSION                233365
TEACHER                             146393
ELECTION WORKER                      99683
ANNUAL ED PARA                       74045
TEACHER SPECIAL EDUCATION            67304
POLICE OFFICER                       66998
TEACHER-GENERAL ED                   32609
CORRECTION OFFICER                   26104
SUBSTITUTE ED PARA                   24114
FIREFIGHTER                          22336
F/T SCHOOL AIDE                      21299
SANITATION WORKER                    17180
COMMUNITY ASSOCIATE                  14775
SCHOOL SAFETY AGENT                  14178
COMMUNITY COORDINATOR                12485
COLLEGE ASSISTANT                    11690
CLERICAL ASSOCIATE                   11546
SERGEANT-                            11382
F/T SCHOOL LUNCH HELPER              10544
CARETAKER                             9459
P.O. DA DET GR3                       9426
ASSISTANT PRINCIPAL                   8998
GUIDANCE COUNSELOR                    8381
LIEUTENANT                            8186
EMERGENCY MEDICAL SPECIALIST-EMT      7985
Name: Title Description, dtype: int64

There are 149 agencies and 1,536 title jobs in the dataframe