Name: Carlos Constante

In [31]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import confusion_matrix
from sklearn.metrics import silhouette_score

from sklearn.preprocessing import MinMaxScaler

from sklearn.cluster import KMeans

from sklearn.datasets import make_blobs

%matplotlib inline
pd.set_option('display.max_columns', None)

In [32]:
sal = pd.read_csv('NYC_Payroll_Data_Fiscal_Year.csv')
sal

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,17,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,17,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
4,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469652,2019,56,POLICE DEPARTMENT,LUNGAYAN JR.,HERMAN,V,05/28/2014,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,39449.0,per Annum,2040.0,39032.61,306.50,9242.39,4182.91
1469653,2019,56,POLICE DEPARTMENT,HORNE,JONISHAU,NaN,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,39453.0,per Annum,1785.0,38539.44,245.55,7163.58,3680.55
1469654,2019,56,POLICE DEPARTMENT,HIRA,ABDUL,M,09/25/2017,BRONX,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.0,38763.31,269.00,7979.68,1031.37
1469655,2019,56,POLICE DEPARTMENT,KARAI,WAHID,F,02/23/2016,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,51700.0,per Annum,1785.0,49625.00,255.32,9214.59,8692.69
1469656,2019,56,POLICE DEPARTMENT,SHEHZAD,MOHAMMAD,A,12/22/2015,QUEENS,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.0,39276.28,637.50,19430.30,2090.16

In [33]:
sal.columns #Check the dataframe columns' names

Index(['Fiscal Year', 'Payroll Number', 'Agency Name', 'Last Name',
       'First Name', 'Mid Init', 'Agency Start Date', 'Work Location Borough',
       'Title Description', 'Leave Status as of June 30', 'Base Salary',
       'Pay Basis', 'Regular Hours', 'Regular Gross Paid', 'OT Hours',
       'Total OT Paid', 'Total Other Pay'],
      dtype='object')

In [34]:
sal.info() #check the dataframe information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1469657 entries, 0 to 1469656
Data columns (total 17 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Fiscal Year                 1469657 non-null  int64
 1   Payroll Number              1469657 non-null  int64
 2   Agency Name                 1469657 non-null  object
 3   Last Name                   1468753 non-null  object
 4   First Name                  1468742 non-null  object
 5   Mid Init                    866071 non-null   object
 6   Agency Start Date           1469616 non-null  object
 7   Work Location Borough       1469651 non-null  object
 8   Title Description           1469623 non-null  object
 9   Leave Status as of June 30  1469657 non-null  object
 10  Base Salary                 1469657 non-null  float64
 11  Pay Basis                   1469657 non-null  object
 12  Regular Hours               1469657 non-null  float64
 13  Regular Gross Paid          1469657 non-null  float64
 14  OT Hours                    1469657 non-null  float64
 15  Total OT Paid               1469657 non-null  float64
 16  Total Other Pay             1469657 non-null  float64
dtypes: float64(6), int64(2), object(9)
memory usage: 190.6+ MB

In [35]:
sal.describe() #

,Fiscal Year,Payroll Number,Base Salary,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06,1.469657e+06
mean,2.018996e+03,5.563574e+02,4.681239e+04,7.432658e+02,4.964219e+04,7.081650e+01,3.772085e+03,3.205983e+03
std,8.130180e-01,3.090461e+02,4.388318e+04,9.178171e+02,4.141916e+04,1.656371e+02,9.570726e+03,5.980867e+03
min,2.018000e+03,2.000000e+00,1.000000e+00,-2.352500e+02,-2.343844e+04,-2.100000e+01,-2.649388e+04,-1.548196e+05
25%,2.018000e+03,3.000000e+02,3.318000e+01,0.000000e+00,7.388030e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.019000e+03,7.420000e+02,4.497500e+04,0.000000e+00,4.529081e+04,0.000000e+00,0.000000e+00,1.650000e+01
75%,2.020000e+03,7.470000e+02,8.529200e+04,1.820000e+03,8.418630e+04,1.475000e+01,6.280900e+02,4.129790e+03
max,2.020000e+03,9.960000e+02,4.147070e+05,4.160000e+03,3.685975e+05,3.147000e+03,2.373897e+05,2.222470e+05

In [36]:
sal.describe(include = ["O"])

,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Pay Basis
count,1469657,1468753,1468742,866071,1469616,1469651,1469623,1469657,1469657
unique,155,119034,65155,35,12994,18,1570,1,4
top,DEPT OF ED PEDAGOGICAL,RODRIGUEZ,MICHAEL,A,01/01/2010,MANHATTAN,TEACHER- PER SESSION,ACTIVE,per Annum
freq,285125,9397,22282,130531,29345,1050354,233441,1469657,898331

In [18]:
sal.isna().any(axis = 1)

0           True
1          False
2           True
3          False
4          False
           ...
1469652    False
1469653     True
1469654    False
1469655    False
1469656    False
Length: 1469657, dtype: bool

In [19]:
nan_filter = sal.isna().any(axis = 1)
sal[nan_filter]

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
6,2020,17,OFFICE OF EMERGENCY MANAGEMENT,VAZQUEZ,MARGARET,NaN,09/29/2008,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,94415.0,per Annum,1820.00,84312.72,0.00,0.00,0.00
9,2020,17,OFFICE OF EMERGENCY MANAGEMENT,DE LOS SANTOS,JANIRA,NaN,06/05/2017,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,67676.0,per Annum,1820.00,66647.77,348.50,16572.64,144.15
13,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILLIAMS,LATOYA,NaN,02/16/2005,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,73403.0,per Annum,1820.00,72287.70,217.75,9636.04,258.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469646,2019,56,POLICE DEPARTMENT,MIKHNO,INNA,NaN,07/02/2018,BROOKLYN,POLICE OFFICER,ACTIVE,42500.0,per Annum,2000.00,41568.57,46.23,1461.04,3659.52
1469648,2019,56,POLICE DEPARTMENT,ISLAM,A B M KAMRUL,NaN,05/31/2017,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,39447.39,717.75,20914.83,1336.10
1469649,2019,56,POLICE DEPARTMENT,CASTRO VASQUEZ,ADISON,NaN,07/22/2016,BRONX,SCHOOL CROSSING GUARD,ACTIVE,15.0,per Hour,952.65,15909.71,0.00,0.00,213.00
1469650,2019,56,POLICE DEPARTMENT,JALLIM,ALISEN,NaN,01/16/2018,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,38673.46,172.25,5281.94,3740.94
1469653,2019,56,POLICE DEPARTMENT,HORNE,JONISHAU,NaN,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,39453.0,per Annum,1785.00,38539.44,245.55,7163.58,3680.55

In [21]:
missing_rows = sal['Mid Init'].isna()
missing_rows

0           True
1          False
2           True
3          False
4          False
           ...
1469652    False
1469653     True
1469654    False
1469655    False
1469656    False
Name: Mid Init, Length: 1469657, dtype: bool

In [22]:
sal[missing_rows]

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.00,84698.21,0.00,0.00,0.00
6,2020,17,OFFICE OF EMERGENCY MANAGEMENT,VAZQUEZ,MARGARET,NaN,09/29/2008,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,94415.0,per Annum,1820.00,84312.72,0.00,0.00,0.00
9,2020,17,OFFICE OF EMERGENCY MANAGEMENT,DE LOS SANTOS,JANIRA,NaN,06/05/2017,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,67676.0,per Annum,1820.00,66647.77,348.50,16572.64,144.15
13,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILLIAMS,LATOYA,NaN,02/16/2005,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,73403.0,per Annum,1820.00,72287.70,217.75,9636.04,258.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469646,2019,56,POLICE DEPARTMENT,MIKHNO,INNA,NaN,07/02/2018,BROOKLYN,POLICE OFFICER,ACTIVE,42500.0,per Annum,2000.00,41568.57,46.23,1461.04,3659.52
1469648,2019,56,POLICE DEPARTMENT,ISLAM,A B M KAMRUL,NaN,05/31/2017,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,39447.39,717.75,20914.83,1336.10
1469649,2019,56,POLICE DEPARTMENT,CASTRO VASQUEZ,ADISON,NaN,07/22/2016,BRONX,SCHOOL CROSSING GUARD,ACTIVE,15.0,per Hour,952.65,15909.71,0.00,0.00,213.00
1469650,2019,56,POLICE DEPARTMENT,JALLIM,ALISEN,NaN,01/16/2018,MANHATTAN,TRAFFIC ENFORCEMENT AGENT AL 1 & 2 ONLY,ACTIVE,38986.0,per Annum,2040.00,38673.46,172.25,5281.94,3740.94
1469653,2019,56,POLICE DEPARTMENT,HORNE,JONISHAU,NaN,02/20/2018,BROOKLYN,POLICE COMMUNICATIONS TECHNICIAN,ACTIVE,39453.0,per Annum,1785.00,38539.44,245.55,7163.58,3680.55

In [30]:
del sal['Mid Init'] #Delete the column "Mid Init" and "Leave Status as of June 30"
del sal['Leave Status as of June 30']
del sal['Payroll Number']
sal

KeyError: 'Mid Init'